h1 {
  font-family: 'Jaldi', sans-serif;
  font-weight: 400;
}

.divider-line {
  border: none;
  border-top: 2px solid #000;
  margin: 1rem 0;
}

table thead {
  background-color: #333A40;
  color: white;
}

table thead th {
  background-color: #333A40;
  color: white;
  border-color: #333A40;
}

